*{
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

}

/*head container*/
.head {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.head-one{
  padding: 10px;
  flex: 10%;
  border-style: inset;
  border-color: green;
  border-radius: 40px;
}
.logo{
  height: auto;
}

.head-two {
  padding: 10px;
  flex: 50%;
  border-style: inset;
  border-style: inset;
  border-color: green;
  background-color: lightseagreen;
  border-radius: 40px;
  margin-left: 10px;
}
.head-three {
  padding: 10px;
  flex: 10%;
  border-style: inset;
  border-style: inset;
  border-color: green;
  background-color: rgba(32, 178, 171, 0);
  border-radius: 40px;
  margin-left: 10px;
}

/* Responsive head - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .head {
    flex-direction: column;
  }
}


/*main container and sub  container*/
.login-singup{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}
.login{
  background-color: green;
  padding: 10px;
  flex: 50%;
  border-style: inset;
  border-radius: 40px;
  text-align: left;
}
.singup{
  background-color: rgba(0, 128, 0, 0);
  padding: 10px;
  flex: 50%;
  border-style: inset;
  text-align: left;
  border-radius: 40px;
}
/*responsive login_signup container*/
@media(max-width:800px){
  .login-singup {
    flex-direction: column;
  }
}
